<%- include('/src/views/layouts/default.html'); %>

<!-- set variables used in layout -->

<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet">

<!-- load specific page script -->
<script src="./about.js"></script>

<section>
  <div class="container flex-column center-x">
    <h1>About</h1>
    <div class="teaser">
      This multiple page boilerplate is built using
      <a class="link" href="https://github.com/webdiscus/html-bundler-webpack-plugin/">html-bundler-webpack-plugin</a>.
    </div>
  </div>
</section>
